@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600&family=Open+Sans:wght@700&family=Public+Sans:wght@700&family=Roboto:wght@700&display=swap");

/* font-family: "Nunito Sans", sans-serif;
font-family: "Public Sans", sans-serif;
font-family: "Roboto", sans-serif; */

body {
  margin: 0;
  background: url("anime.jpg") fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 500px;
  object-fit: scale-down;
  height: 100%;
}

.back-container button {
  border-radius: 20px;
  background-color: #7dc3f4;
  padding: 5px 10px 5px;
  font-size: 15px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  border: 0;
  text-align: center;
}

.back-container :hover {
  background-color: #a1e4f8;
}

.back-container {
  /* width: 20%; */
  margin: 20px;
  float: left;
}

.heading {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  margin: 0px 0 0 0;
  padding: 0 10px 10px;

  text-transform: capitalize;
}
h2 {
  margin: 0;
}
.pluss {
  margin: 20px;
  float: left;
  font-size: 20px;
  border: 2px;
  padding: 5px 15px;
  border-radius: 20px;
  text-align: center;
  height: 23px;
  width: 30px;
  background-color: #82bbf5;
  color: white;
}
.plus-second {
  margin: 20px;
  width: 30px;
  font-size: 20px;
  border: 2px;
  padding: 5px 15px;
  text-align: center;
  border-radius: 20px;
  background-color: #82bbf5;
  color: #8e3ef7;
}
.plus-container :hover {
  background-color: #c6e7fa;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}
#weather {
  padding: 10px;
  margin: 10px 10px 10px 0;
  /* text-align: center; */
}

label {
  font-size: 1.5rem;
  font-family: "poppins", sans-serif;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.loc-input {
  display: inline;
}
.location-input {
  margin-top: 250px;
}
.location-input-second {
  margin-top: 200px;
}
.location {
  border-radius: 20px 0 0 20px;
  border: 2px solid #ccc;
  background-color: #e6e1e1;
  padding: 15px 10px;
  outline: none;
  text-align: center;
  width: 40%;
  vertical-align: middle;
  position: relative;
  margin-left: 350px;
  float: left;
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
}

.plus-input-button {
  border-radius: 20px 0 0 20px;
  border: 2px solid #ccc;
  background-color: #e6e1e1;
  padding: 15px 170px 15px 170px;
  outline: none;
  text-align: center;
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  vertical-align: middle;
  position: relative;
  margin-left: 380px;
  float: left;
}
.location-input .button {
  padding: 18px 30px 18px 20px;
  background: #2196f3;
  color: white;
  font-size: 15px;
  border-left: none;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
  float: left;
  text-align: center;
}

.location-input .button :hover {
  background: #0b7dda;
}
/* h2 span {
  font-size: 3rem;
  cursor: pointer;
} */

.day5 {
  text-align: center;
  font-size: 20px;
  padding: 0px 10px 10px;
  margin: 10px 0 10px;
  font-family: arial, sans-serif;
}
/* span {
  font-size: 20px;
  width: 80px;
  display: inline-block;
} */

.sun-heading,
.moon-heading {
  margin: 20px 0 20px;
  font-size: 1.2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 550px 550px;
}

.date-field {
  text-align: center;
}
#date-field-container {
  /* width: 400px; */
  /* height: 100%; */
  padding: 10px;
  margin: 20px 20px 20px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}
#date-field-container h2 {
  font-size: 20px;
}

#date-field-container sup {
  font-size: 10px;
  font-weight: bolder;
}

.weather_data sup {
  font-size: 15px;
  font-weight: bolder;
}
#date-field-container h3 {
  font-size: 20px;
  margin: 10px 0;
}

#date-field-container h4 {
  font-size: 20px;
  padding: 0 0 0 10px;
  text-align: center;
  margin: 15px 0;
}
.temp {
  font-size: 40px;
  margin: 0 0 0 190px;
  font-family: Arial, sans-serif;
}

.wdesc {
  font-size: 20px;
  margin: 10px 0 0 80px;
  width: 300px;
  font-family: Arial, sans-serif;
  text-align: center;
}
.boradcast-grid-container {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  margin: 0px 20px 0px 200px;
  padding: 3px;
  text-align: center;
  column-gap: 5px;
  box-sizing: border-box;
}

.broadcast-grid-item {
  padding: 5px 15px;
  font-size: 15px;
  font-family: Arial, sans-serif;
  text-align: center;
  border: 2px solid F8F0E5;
  border-radius: 50px;
  width: 80%;
  height: 100%;
  background-color: #f1fad4;
  cursor: pointer;
}

.broadcast-grid-item h4 {
  margin: 5px 5px 3px;
  padding: 3px;
}
.broadcast-grid-item h3 {
  margin: 10px 5px 0;
  padding: 3px;
  font-size: 15px;
}
.boradcast-grid-container :hover {
  background-color: #f1fc93;
}

.days-grid-container {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px 300px;
  margin: 0px 20px 0px 150px;
  padding: 3px;
  text-align: center;
  column-gap: 5px;
  box-sizing: border-box;
}

.dayss {
  font-size: 20px;
}

.days-grid-item {
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.broadcast-details-display-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* margin: 0px 20px 0px 20px; */
}

.broadcast-display-grid-item {
  padding: 5px 15px;
  font-size: 40px;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

.bd-h {
  tab-size: 16;
}
.bd {
  width: 280px;
  display: inline-block;
}
.span-ele {
  font-size: 50px;
  height: 100%;
  width: 50%;
}
.side {
  display: grid;
  grid-template-columns: 550px 550px;
  margin: 0;
}
.side-grid-item {
  padding: 5px 15px;
  font-size: 20px;
  font-family: Arial, sans-serif;
  cursor: pointer;
}
.side-grid-item img {
  margin-left: 400px;
}

.side-grid-item h1 {
  margin: 30px 5px 0px;
  font-size: 60px;
}
/* .image {
  /* height: 10%; 
  float: left;
  flex-shrink: 2;
} */

/* .text {
  font-size: 30px;
  float: left;
  margin: 0;
  font-family: Arial, sans-serif;
} */

.current {
  padding: 10px;
  text-align: center;
}

.curr-container {
  display: grid;
  align-items: center;
  grid-template-columns: 526px 526px;
  column-gap: 5px;
  margin-top: 10px;
}
.curr-img {
  max-width: 100%;
  max-height: 100%;
}

.curr-text {
  margin-left: 250px;
}

.head-h1 {
  float: left;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-left: 150px;
  font-size: 20px;
}

.head-time {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 20px;
  /* width: 50%; */
  margin-left: 150px;
}

.bd-h3 {
  margin: 20px 0 20px 40px;
  font-size: 20px;
}
.bd-h2 {
  margin-left: 270px;
  font-size: 20px;
}

.sun-moon-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}

.sun {
  margin-left: 285px;
}
.sunmoon-grid-item .head {
  font-family: Arial, sans-serif;
  font-size: 22px;
}
.sunmoon-grid-item h4 {
  font-family: Arial, sans-serif;
  font-size: 20px;
}
.moon {
  margin-left: 55px;
}
.weather_img {
  margin-left: 180px;
  width: 25%;
}

/* //Responsive designs */
/* Extra small devices- Mobiles with max width of 600px */
@media only screen and (max-width: 767px) {
  body {
    overflow: visible;
  }

  .input-600 {
    margin-top: 200px;
  }
  .loc600 {
    border-radius: 20px 0 0 20px;
    border: 2px solid #ccc;
    background-color: #e6e1e1;
    padding: 10px 10px;
    outline: none;
    text-align: center;
    /* width: 40%; */
    width: 160px;
    height: 15px;
    vertical-align: middle;
    margin-left: 80px;
    float: left;
    font-family: "Public Sans", sans-serif;
    font-size: 10px;
  }

  .location-input .button {
    padding: 14px 20px 14px 20px;
    background: #2196f3;
    color: white;
    font-size: 10px;
    border-left: none;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    float: left;
    text-align: center;
  }

  .plus-600 {
    margin: 5px;
    /* float: left; */
    font-size: 10px;
    border: 2px;
    padding: 5px;
    border-radius: 20px;
    width: 30px;
    text-align: center;
    height: 11px;
    background-color: #82bbf5;
    color: white;
  }
  .flex600 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* text-align: center; */
  }
  .country600,
  .date-field-600 {
    flex: 100%;
  }

  #weather {
    padding: 0px;
    margin: 5px 10px 10px 20px;

    width: 60%;
  }
  .weather_img {
    width: 40%;
    margin-left: 100px;
  }
  .temp {
    font-size: 60px;
    margin: 0 10px 0 80px;
    padding: 0 0 0 0px;
    text-align: center;
    font-family: Arial, sans-serif;
  }

  .wdesc {
    font-size: 19px;
    font-weight: bolder;
    margin: 5px 0 0 0px;
    width: 300px;

    font-family: Arial, sans-serif;
  }

  #date-field-container {
    /* width: 400px; */
    /* height: 100%; */
    padding: 0;
    margin: 10px 0 0 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    width: 60%;
  }
  #date-field-container h2 {
    display: none;
  }

  #date-field-container sup {
    display: none;
  }
  .heading {
    font-size: 15px;
    margin-left: 85px;
  }
  .weather_data sup {
    font-size: 15px;
    font-weight: bolder;
  }
  #date-field-container h3 {
    display: none;
  }

  #date-field-container h4 {
    display: none;
  }
  .day5 {
    text-align: center;
    font-size: 15px;
    padding: 0px;
    width: 50%;
    margin: 10px 0 10px 100px;
    font-family: arial, sans-serif;
    text-align: center;
  }
  .boradcast-grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 10px;
  }
  .broadcast-grid-item {
    flex: 100%;
    margin: 10px;
    width: 239px;
    /* height: 17px; */
    /* text-align: justify; */
    text-align: left;
  }
  .date,
  .descc,
  .max {
    font-size: 14px;
    opacity: 1;
    display: inline-block;
  }
  .broadcast-grid-item p .descc {
    width: 240px;
    /* height: 16px; */
  }
  .broadcast-grid-item p {
    margin: 0;
    font-size: 14px;
    /* padding: 0 0 15px 0; */
    font-family: Arial, sans-serif;
    /* width: 180px; */
    /* height: 16px; */
    width: 340px;
  }
  /* .resp-image {
    width: 8%;
  }

  #text {
    padding: 0 0 15px 0;
  } */
  .back-container {
    /* width: 20%; */
    margin: 12px 10px 10px;
    float: left;
  }
  .head-h1 {
    margin: 0 0 0 30px;
    font-size: 15px;
  }
  .curr-container {
    margin-top: 10px;
    display: flex;
  }
  .curr-text {
    margin-left: 110px;
  }
  .head-time {
    font-size: 11px;
    margin-left: 10px;
  }

  .side {
    display: flex;
  }
  .side-grid-item {
    padding: 0;
    margin: 0;
  }
  .disp-img {
    float: left;
    margin-left: 70px;
    width: 60%;
  }
  .disp-desc {
    margin: 5px 0 0;
    font-size: 10px;
  }
  .side-grid-item img {
    margin-left: 70px;
    width: 70px;
    height: 70px;
  }
  .side-grid-item h1 {
    font-size: 50px;
    margin: 5px 0 0;
  }
  .span-ele {
    font-size: 30px;
  }

  .broadcast-details-display-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* text-align: center; */
  }

  .broadcast-display-grid-item {
    padding: 3px;
    flex: 100%;
  }
  .bd-h2 {
    margin: 15px 0 15px 55px;
    font-size: 15px;
  }
  .bd {
    width: 250px;
    display: inline-block;
  }
  .bd-h3 {
    font-size: 15px;
    margin: 15px 0 15px 55px;
  }
  .sun-moon-container {
    display: flex;
    flex-wrap: wrap;
  }
  /* .sun {
    margin-left: 20px;
    font-size: 15px;
  } */
  .sun-heading,
  .moon-heading {
    margin: 5px 0 5px;
  }
  .sunmoon-grid-item .head {
    font-family: Arial, sans-serif;
    font-size: 18px;
  }
  .sunmoon-grid-item h4 {
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin: 15px 0 15px 55px;
  }
  .sunmoon-grid-item h3 {
    font-size: 15px;
    margin: 15px 0 15px 55px;
  }
  .rise {
    width: 200px;
    display: inline-block;
    font-size: 15px;
    opacity: 1;
    font-family: Arial, sans-serif;
  }
  .sunmoon-grid-item {
    flex: 100%;
  }
  /* .sunmoon-grid-item {
  } */
  .plus-second {
    margin: 5px;
    width: 30px;
    font-size: 10px;
    border: 2px;
    padding: 5px 0;
    text-align: center;
    border-radius: 20px;
    background-color: #82bbf5;
    color: #8e3ef7;
  }
  .back-container button {
    border-radius: 20px;
    background-color: #7dc3f4;
    padding: 5px 10px 5px;
    font-size: 10px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    border: 0;
    text-align: center;
  }
}
